@import 'transitions';
@import 'colors';
@import 'fonts';
@import 'mixins';

/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
//end css reset
body {
	overflow : hidden;
}
//header css

header {
	height : 55px;
	width : 100%;
	background : $gy-primary-link;
	position : relative;
	& img {
		height: 55px;
	}
	& a {
		text-decoration: none;
		color:$gy-basic;
	}
	& .desktop-tablet-lang {
		display: none;
	}
	& .mobile-actions {

		position : absolute;
		right: 0px;
		width: auto;
		top: 0px;
		& > * {
			float: right;
			padding: 12.5px 0px;

			& img {
				padding: 5px 17.5px;
				width: 20px;
				height: 20px;
				&:first-child {
					border-right : 1px solid $gy-thirdary;
				}
			}
			&:first-child {
				& img{
					border : none;
				}
			}

		}

	}
}

.gy-menu {
	position:absolute;
	top:0px;
	right:-265px;
	list-style:none;
	width:265px;
	height:100%;
	background:$gy-thirdary;
	& a {
		text-decoration: none;
		color:$gy-primary;
	}
	& > * {
		padding:22.5px 20px;
		background:$gy-secondary;
		border-bottom : 1px solid $gy-thirdary;
		color:$gy-primary;
		font: $gy-h5;
		&:nth-child(1){
	        display: none;
		}
		&:nth-last-of-type(3){
	        display: none;
		}
		&:nth-last-of-type(2){
	        @include resetBorderBg();
	        color:$gy-basic;
		}
		&:nth-last-of-type(1) {
	        @include resetBorderBg();
	        color:$gy-basic;
		}

    }
}

.container {
    background:url(../img/bg-desktop.png) no-repeat center center;
background-size: cover;
height:100%;
}