$gy-basic : #FFF;
$gy-primary : #FFDF1B;
$gy-primary-link : #0055A4;
$gy-secondary : #01294C;
$gy-thirdary : #001930;
$gy-body-copy : #222222;
$gy-body-light : #767676;
$gy-primary-bg : #EDEDED;
$gy-secondary-bg : #E6EDF3;