$gy-h1 : bold 38px/43px Helvetica Neue;
$gy-h2 : medium 32px/32px Helvetica Neue;
$gy-h3 : normal 26px/28px Helvetica Neue;
$gy-h4 : normal 22px/24px Helvetica Neue;
$gy-h5 : normal 18px/20px Helvetica Neue;
$gy-body-copy-bold : bold 16px/22px Arial;
$gy-body-copy : normal 16px/22px Arial;
$gy-labels : normal 14px/20px Arial;